
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.logo-secao {
    margin-right: 40px;
}

.logo {
    width: 50px;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-top: 10px;
    font-size: 14px;
}

.formulario input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario button {
    padding: 10px;
    background-color: #e67e22;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cartao-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartao {
    width: 200px;
    height: 120px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.chip {
    width: 40px;
    height: 25px;
    background-color: #ccc;
    border-radius: 4px;
}

.numero {
    text-align: right;
    font-size: 18px;
    letter-spacing: 2px;
}