* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: flex-start;
    padding: 50px;
}

.contact-form {
    width: 100%;
    max-width: 500px;
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.contact-form button {
    padding: 10px;
    background-color: #f5a28e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #e98b75;
}

.image-container {
    width: 90%; /* Mantém 40% do espaço para a imagem */
    text-align: right; /* Alinha a imagem à direita */
    margin-right: 300px; /* Empurra a imagem mais para a direita */
}

.image-container img {
    max-width: 80%; /* Limita a largura da imagem a 70% do contêiner */
    height: 500px; /* Define a altura fixa */
}